*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header{
    background-color: rgb(253, 162, 176);
    position: sticky;
    box-shadow: 30px 0px 30px rgb(207, 172, 177);
    top: 0;
    padding: 1rem;
    z-index: 33;
    font-family: "Josefin Sans", sans-serif;
}
.geral1{
    max-width: 1300px;
    margin-left:auto;
    margin-right:auto;
    align-items: center;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.geral1 nav ul{
    display: flex;
    list-style: none;
    align-items: center;
    margin: 30px;
    font-size: 20px;
    font-weight: bold;
    
}

.geral1 nav ul a{
    padding: 30px;
    color:black;
    font-size: 25px;
    text-decoration: none;
    
}
.geral1 nav ul a:hover, .imagem2:hover{
    background-color: rgba(255, 192, 203, 0.356);
}

.imagem1{
    height: 200px;
    width: 200px;
}

.imagem2{
    height: 50px;
    width: 50px;
    margin: 30px;

}

.imagem3{
    height: 50px;
    width: 50px;
    margin: 30px;
    
}

.texto{
    padding-bottom:5px;
    border-bottom: black solid 3px;
}

.cols a:hover{
    opacity: 0.4;
}

.imagem4{
    width: 300px;
    height: 400px;
}

#tabela, #tabela1, #tabela2, #tabela3, #tabela4 {
    padding-right: 100px;
    font-family: "Josefin Sans", sans-serif;
    justify-content: space-between;
}

h2 {
    padding: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 20px;
    padding-left: 90px ;
}


.filtro {
    justify-content: center;
    display: flex;
    background-color: black;
    color: white;
}


#teste, #teste1, #teste2, #teste3, #teste4 {
    display: none;
    position: absolute;
    flex-direction: column;
    background-color: black;
    align-items: center;
    
}

#tabela a, #tabela1 a, #tabela2 a, #tabela3 a, #tabela4 a {
    color: white;
    text-decoration: none;
    padding: 30px;
    font-size: 16px;
    width: 250px;
    text-align: center;
}

#tabela:hover #teste,
#tabela1:hover #teste1,
#tabela2:hover #teste2,
#tabela3:hover #teste3,
#tabela4:hover #teste4 {
    display: flex;
    flex-direction: column;
}


#tabela:hover h2,
#tabela1:hover h2,
#tabela2:hover h2,
#tabela3:hover h2,
#tabela4:hover h2 {
    text-decoration: underline;
}

#teste a:hover, #teste1 a:hover, #teste2 a:hover, #teste3 a:hover, #teste4 a:hover {
    background-color: rgba(51, 45, 45, 0.767);
}


/*header*/

.page{
    background-color: rgba(253, 162, 176, 0.719);
}

.content{
    max-width: 1280px;
    margin: 0 auto;
}

.cols{
    display: grid;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 1rem;
    
}

.cols-3{
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}

.paragrafos{
    font-family: "Josefin Sans", sans-serif;
    text-align: center;
    position: relative;
    top: 30px;
}

.cols a{
    justify-self: center;
    text-decoration: none;
    color: black;
}

#imagem5{
    width: 800;
    height: 600px;
}

#sobre{
    background-color: pink;
    height: 100vh;
}
.template {
    text-align: center;
    position: relative;
    top: 75px;
}

.template p{
   font-family: "Josefin Sans", sans-serif;
   font-size: 23px;
   width: 900px;
   margin: 0 auto;
}

.botao {
    position: relative;
    align-items: center;
    height: 150px;
    align-items: center;
    
}

.botao:hover .tabela{
    display:block;
}

/*main*/

footer{
    background-color: rgb(253, 162, 176);
    bottom: 0;
    left: 0;
    padding: 1rem;
    z-index: 33;
    font-family: "Josefin Sans", sans-serif;
    position: fixed;
    width: 100%;
    text-align: center;
    font-size: small;
}



























@media (max-width: 800px){
    
    nav{
        position: relative;
        width: 100%;
        height: 50px;
        bottom: 100px;
    }
    .geral1 ul{
      flex-direction: column;
      text-align: center;
      position: relative;
      background-color: rgb(253, 162, 176);
    }

    .geral1 nav ul li{
        
        color:black;
        text-decoration: none;
        width: 100%;
    }
    
    .geral1 nav ul li a{
        
        color:black;
        border: solid 1px ; 
        padding: 13px 0;
        text-align: center;
        border: none;
        display: block;
    }
    
    .imagem3{
        display: block;
    }
}