.container{
    display: flex;
    align-items: center;
}
.triangle{
    width:0;
    height:0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 50px solid lightblue;
    right: 95px;
    bottom: 100px;
    position:absolute;
    z-index: 2;
}

.square{
    background-color: blue;
    width: 50px;
    height: 50px;
    right: 125px;
    position:absolute;
    bottom: 105px;
    z-index: 3;
}

.circle{
    width: 50px;
    height: 50px;
    background-color: green;
    border-radius: 50%;
    bottom: 123px;
    right: 100px;
    position:absolute;
    z-index: 1;
}